/* MASU Wallpaper Picker */
@import "~/.config/rofi/theme.rasi"

configuration {
    show-icons:       true;
    font:             "JetBrainsMono Nerd Font 10";
}

window {
    width:            80%;
    background-color: #0a0a14cc;
    border:           1px;
    border-color:     #ffffff15;
    border-radius:    16px;
}

mainbox {
    children:         [ "inputbar", "listview" ];
    background-color: transparent;
    spacing:          8px;
    padding:          12px;
}

inputbar {
    background-color: #ffffff08;
    border:           1px;
    border-color:     #ffffff18;
    border-radius:    10px;
    padding:          6px 16px;
    spacing:          8px;
    margin:           0px 250px;
    children:         [ prompt, entry ];
}

prompt {
    color:            #7aa2f7cc;
    background-color: transparent;
}

entry {
    placeholder:      "Search wallpapers...";
    placeholder-color:#ffffff30;
    color:            #cdd6f4cc;
    background-color: transparent;
}

listview {
    columns:          3;
    lines:            2;
    spacing:          8px;
    padding:          4px;
    flow:             horizontal;
    fixed-width:      true;
    fixed-height:     false;
    cycle:            true;
    background-color: transparent;
}

element {
    orientation:      vertical;
    padding:          4px;
    spacing:          0px;
    border-radius:    10px;
    background-color: #ffffff06;
    border:           2px;
    border-color:     #ffffff10;
    cursor:           pointer;
}

element selected.normal {
    background-color: #7aa2f710;
    border-color:     #7aa2f7cc;
}

element normal.normal {
    background-color: #ffffff06;
    border-color:     #ffffff10;
}

element-icon {
    size:             9%;
    cursor:           inherit;
    background-color: transparent;
    border-radius:    8px;
}

element-text {
    vertical-align:   0.5;
    horizontal-align: 0.5;
    padding:          3px;
    color:            #00000000;
    background-color: transparent;
    font:             "JetBrainsMono Nerd Font 1";
}
