configuration {
    show-icons:          true;
    font:                "JetBrainsMono Nerd Font 10";
}

@theme "~/.config/rofi/theme.rasi"

window {
    fullscreen:          false;
    width:               100%;
    background-color:    #00000088;
    border-color:        transparent;
}

mainbox {
    orientation:         horizontal;
    children:            [ "dummy", "frame", "dummy" ];
    background-color:    transparent;
    spacing:             0px;
}

dummy {
    width:               3em;
    expand:              false;
    background-color:    transparent;
}

frame {
    children:            [ "inputbar", "listview" ];
    background-color:    transparent;
    spacing:             10px;
    expand:              true;
}

inputbar {
    enabled:             true;
    background-color:    #0d0d1acc;
    border:              1px;
    border-color:        #ffffff22;
    border-radius:       10px;
    padding:             6px 16px;
    spacing:             8px;
    margin:              0.5em 8em;
    children:            [ prompt, entry ];
}

prompt {
    color:               #7aa2f7cc;
    background-color:    transparent;
}

entry {
    color:               #cdd6f4cc;
    placeholder:         "search...";
    placeholder-color:   #ffffff33;
    background-color:    transparent;
}

listview {
    enabled:             true;
    layout:              vertical;
    spacing:             0.6em;
    padding:             1em 1em;
    columns:             3;
    lines:               2;
    dynamic:             false;
    fixed-height:        false;
    fixed-columns:       true;
    background-color:    transparent;
}

element {
    orientation:         vertical;
    spacing:             0px;
    padding:             0px;
    background-color:    transparent;
    border-radius:       0.8em;
    border:              3px;
    border-color:        #ffffff11;
    cursor:              pointer;
    expand:              false;
}

element normal.normal {
    border-color:        #ffffff11;
}

element selected.normal {
    background-color:    transparent;
    border-color:        #7aa2f7ff;
}

element-icon {
    size:                11em;
    border-radius:       0.6em;
    margin:              0;
    padding:             0;
    background-color:    transparent;
    expand:              false;
}

element-text {
    padding:             0px;
    background-color:    transparent;
    horizontal-align:    0.5;
    vertical-align:      0.5;
    text-color:          #00000000;
    font:                "JetBrainsMono Nerd Font 1";
    expand:              false;
}
